@import (inline) "./vendor/normalize.css";
@import (inline) "./vendor/icons/fontawesome.css";
@import "./variables.less";

body {
    font-family: 'Roboto', sans-serif;
}
/* reset básico */
* {
    margin: @margin-body;
    padding: @padding-body;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* conteiner */
.container  {
    width: @container-width;
    margin-left: @container-margin;
    margin-right: @container-margin;
    padding: @container-padding;

        @media (min-width: @container-max-width) {
            max-width: @container-max-width;
            padding: @container-media-padding;
        }
}

/* linha */
.row {
    margin-left: @row-margin;
    margin-right: @row-margin;

    &:before,
    &:after {
        content: "";
        display: @row-before-content;
    }
    &:after {
        clear: @row-clear;
    }
}

/* colunas */
.col {
    display: @col-display;
    vertical-align: @col-vertical-align;
    min-height: @col-min-height;
    padding-left: @col-padding-left;
    padding-right: @col-padding-left;
    width: @container-width;    
}

/* duas colonas */
@media (min-width: @col-2-min-width) {
    .col-2 {
        width: @container-width /2;
    }
}

/* tres colunas */
@media (min-width: @col-3-min-width) {
    .col-3 {
        width: @container-width /3;
    }
}

/* quatro colunas */
@media (min-width: @col-3-min-width) {
    .col-4 {
        width: @container-width /4;
    }
}

/* cinco colunas */
@media (min-width: @col-3-min-width) {
    .col-5 {
        width: @container-width /5;
    }
}

@media (max-width: @col-3-min-width) {
    .search-bar {
        display: block !important;    
    }
    .box-margin {
        margin: 20px 0px !important;
    }
    .slide-text {
        position: initial !important;
    }
}

.nav-header-wrapper {
    margin-top:@nav-header-wrapper;
    margin-bottom:@nav-header-wrapper - 10;
}

.search-bar {
    display: @search-bar-display;
    justify-content: @search-bar-content;
    align-items: @search-align;
    height: @search-height;
}

.search-bar input {
    width: @search-input-width;
    padding: @search-input-padding;
    border: @search-input-border;
    border-radius: @search-input-border-radius;
    background: @search-input-bg;
}

.perfil {
    height: @search-height;
    display: @search-bar-display;
    align-items: @search-align;
}

.perfil img {
    width: @perfil-width;
    height: @perfil-height;
    border-radius:@search-input-border-radius + 25px;
    border: @perfil-border;
    margin-right: @vert-line-margin + 15;
}

.vert-line {
    border-left: @vert-line-border;
    height: @vert-line-height;
    margin-left: @vert-line-margin;
    margin-right: @vert-line-margin + 10;
}

.perfil-text p{
    color: @perfil-text-color;
}

.perfil-text h3 {
    color: @perfil-h-color;
}

#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 50vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("../images/slide1.jpg");
}
.slide2 {
  background-image: url("../images/slide-2.png");
}
.slide3 {
  background-image: url("../images/slide3.jpg");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-text {
  width: 290px;
  height: 160px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  background: rgba(20,20,20,0.8);
  position: absolute;
  left: 120px;
}

.slide-text p {
    margin-top: 10px;
    font-size: 10px;
    text-align: initial;
}

.slide-btn {
    margin-top: 10px;
    background: transparent;
    color: #fff;
    font-size: 10px;
    padding: 7px;
    border-radius: 25px;
}




.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

a {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 15px;
  }

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 15px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 15px;
  }

.cursos {
    background: #f4f4f4;
    padding-bottom: 50px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content img {
    width: 100%;
    height: 150px;
}

.text-cursos {
    margin-top: 50px;
    margin-bottom: 25px;
}

.text-cursos h3{
    border-bottom: 1px solid #cecece;
    height: 30px
}
.space-wrapper {
    height: 30px;;
}

.box-wrapper {
    background:#fff;
    padding: 0 0 25px 0;
}

.box-margin {
    margin-right: 11px;
}

.box-title {
    padding: 15px 0 10px 15px;
}

.box-text {
    font-size: 12px;
    padding: 0 76px 15px 15px;
}

.btn {
    margin: 0 auto;
    border: 1px solid green;
    padding: 8px;
    width: 250px;
    font-size: 12px;
    border-radius: 25px;
    background: green;
    color: #fff;
}

.box-dotted {
    height: 290px;
    border: 3px dashed #bbbbbb;
    background: transparent;
}

.footer {
    padding: 15px;

}

.copyright {
    display: flex;
    align-items: center;
    height: 40px;
    background: #bbbbbb;
}
/* USAR APENAS PARA DEMOSTRAÇÂO */
.teste {
    background: green;
    padding: 5px;
    text-align: center;
    margin: 2px 0;
    color: #fff;
}

